In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [12]:
days = 20
tickers = {
    "S&P500" : "2558.T",
    "AllCountry" : "2559.T",
    "Nikkei" : "1321.T",
    "TOPIX" : "1308.T",
    "FANG+" : "316A.T"
}
index = "S&P500"

tkr = yf.Ticker(tickers[index])
hist = tkr.history(period=f'{days}d')
hist.index = hist.index.strftime("%d %B %Y")
hist = hist[["Close"]]
hist.columns = [index]
hist = hist.T
hist.index.name = "Name"
hist

Date,10 January 2025,14 January 2025,15 January 2025,16 January 2025,17 January 2025,20 January 2025,21 January 2025,22 January 2025,23 January 2025,24 January 2025,27 January 2025,28 January 2025,29 January 2025,30 January 2025,31 January 2025,03 February 2025,04 February 2025,05 February 2025,06 February 2025,07 February 2025
Name,,,,,,,,,,,,,,,,,,,,
S&P500,26845.0,26625.0,26440.0,26715.0,26595.0,26895.0,26810.0,27160.0,27345.0,27260.0,27005.0,26880.0,27085.0,26940.0,27060.0,26435.0,26680.0,26480.0,26635.0,26460.0

In [ ]:
days = 20
tickers = {
    "S&P500": "2558.T",      # 東証ETF - S&P500
    "AllCountry": "2559.T",  # 東証ETF - MSCIオールカントリー
    "Nikkei": "1321.T",      # 東証ETF - 日経平均
    "TOPIX": "1308.T",       # 東証ETF - TOPIX
    "FANG+": "316A.T"        # 東証ETF - FANG+
}

df = pd.DataFrame()

for index in tickers.keys():
    tkr = yf.Ticker(tickers[index])
    hist = tkr.history(period=f'{days}d')
    hist.index = hist.index.strftime("%d %B %Y")
    hist = hist[["Close"]]
    hist.columns = [index]
    hist = hist.T
    hist.index.name = "Name"
    df = pd.concat([df, hist])

In [18]:
df

Date,10 January 2025,14 January 2025,15 January 2025,16 January 2025,17 January 2025,20 January 2025,21 January 2025,22 January 2025,23 January 2025,24 January 2025,27 January 2025,28 January 2025,29 January 2025,30 January 2025,31 January 2025,03 February 2025,04 February 2025,05 February 2025,06 February 2025,07 February 2025
Name,,,,,,,,,,,,,,,,,,,,
S&P500,26845.0,26625.0,26440.0,26715.0,26595.0,26895.0,26810.0,27160.0,27345.0,27260.0,27005.0,26880.0,27085.0,26940.0,27060.0,26435.0,26680.0,26480.0,26635.0,26460.0
AllCountry,21910.0,21690.0,21600.0,21825.0,21750.0,21905.0,21900.0,22120.0,22235.0,22215.0,22065.0,22025.0,22165.0,22105.0,22260.0,21740.0,21915.0,21830.0,21890.0,21790.0
Nikkei,40750.0,39950.0,39920.0,40050.0,39960.0,40360.0,40510.0,41120.0,41480.0,41470.0,41090.0,40550.0,40940.0,41030.0,41120.0,39990.0,40260.0,40340.0,40590.0,40320.0
TOPIX,2816.0,2781.0,2793.0,2786.0,2780.0,2812.0,2813.0,2840.0,2864.0,2858.0,2860.0,2860.0,2879.0,2884.0,2897.0,2824.0,2837.0,2845.0,2853.0,2837.0
FANG+,1950.0,1905.0,1889.0,1925.0,1902.0,1931.0,1922.0,1984.0,2002.0,2005.0,1952.0,1955.0,2001.0,1960.0,1956.0,1900.0,1934.0,1929.0,1951.0,1939.0