In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
import altair as alt

In [38]:
days = 100
tickers = {
    "SP500": "2558.T",       # 東証ETF - S&P500
    "AllCountry": "2559.T",  # 東証ETF - MSCIオールカントリー
    "Nikkei": "1321.T",      # 東証ETF - 日経平均
    "TOPIX": "1308.T",       # 東証ETF - TOPIX
    "FANG": "316A.T"         # 東証ETF - FANG+
}

df = pd.DataFrame()

for index in tickers.keys():
    tkr = yf.Ticker(tickers[index])
    hist = tkr.history(period=f'{days}d')
    hist.index = hist.index.strftime("%d %B %Y")
    hist = hist[["Close"]]
    hist.columns = [index]
    hist = hist.T
    hist.index.name = "Name"
    df = pd.concat([df, hist])

In [39]:
index = ["SP500", "AllCountry"]
data = df.loc[index]
data

Date,10 September 2024,11 September 2024,12 September 2024,13 September 2024,17 September 2024,18 September 2024,19 September 2024,20 September 2024,24 September 2024,25 September 2024,...,27 January 2025,28 January 2025,29 January 2025,30 January 2025,31 January 2025,03 February 2025,04 February 2025,05 February 2025,06 February 2025,07 February 2025
Name,,,,,,,,,,,,,,,,,,,,,
SP500,22396.396484,22137.652344,22764.611328,22590.457031,22699.925781,22869.105469,23192.537109,23257.222656,23615.486328,23481.136719,...,27005.0,26880.0,27085.0,26940.0,27060.0,26435.0,26680.0,26480.0,26635.0,26460.0
AllCountry,18867.421875,18648.898438,19130.640625,19001.515625,19041.246094,19160.439453,19503.123047,19552.787109,19855.738281,19786.208984,...,22065.0,22025.0,22165.0,22105.0,22260.0,21740.0,21915.0,21830.0,21890.0,21790.0

In [32]:
data = data.T.reset_index()
data

Name              Date    SP500  AllCountry
0      10 January 2025  26845.0     21910.0
1      14 January 2025  26625.0     21690.0
2      15 January 2025  26440.0     21600.0
3      16 January 2025  26715.0     21825.0
4      17 January 2025  26595.0     21750.0
5      20 January 2025  26895.0     21905.0
6      21 January 2025  26810.0     21900.0
7      22 January 2025  27160.0     22120.0
8      23 January 2025  27345.0     22235.0
9      24 January 2025  27260.0     22215.0
10     27 January 2025  27005.0     22065.0
11     28 January 2025  26880.0     22025.0
12     29 January 2025  27085.0     22165.0
13     30 January 2025  26940.0     22105.0
14     31 January 2025  27060.0     22260.0
15    03 February 2025  26435.0     21740.0
16    04 February 2025  26680.0     21915.0
17    05 February 2025  26480.0     21830.0
18    06 February 2025  26635.0     21890.0
19    07 February 2025  26460.0     21790.0

In [33]:
data = pd.melt(data, id_vars=["Date"]).rename(
    columns={"value":"Prices(JPN)"}
)
data.head()

              Date   Name  Prices(JPN)
0  10 January 2025  SP500      26845.0
1  14 January 2025  SP500      26625.0
2  15 January 2025  SP500      26440.0
3  16 January 2025  SP500      26715.0
4  17 January 2025  SP500      26595.0

In [36]:
chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x="Date:T",
        y=alt.Y("Prices(JPN)", stack=None, scale=alt.Scale(domain=[20000, 30000])),
        color="Name:N"
    )
)

chart

alt.Chart(...)